/* -reset css*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.5em;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


body {
    line-height: 1;
    font-family: 'Titillium Web', sans-serif;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

button {
    border: none;
    background: none;
    outline: none;
    text-transform: uppercase;
    padding: 3px 10px;
    outline: none !important;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

li {
    list-style: none;
}

img {
    display: block;
    margin: 0 auto;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.7em;
    font-weight: 600;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    color: #fff;
    line-height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h4 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: #fff;
    line-height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

p {
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
    margin-top: 5px;
    font-weight: 400;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Titillium Web', sans-serif;
}


/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
a {cursor: pointer;}
a button {cursor: pointer;}
input,
select {
    vertical-align: middle;
}

.genius-line {
    width: 87px;
    height: 3px;
    background: #14a58c;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 15px;
}

.genius-button {
    text-align: center;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 18px 95px;
    border-bottom: 5px solid #ffe000;
    background: #ffe000;
    color: #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#genius-back-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 50;
    display: none;
    width: 35px;
    height: 35px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    background-color: #918f89;
    background-image: url(../img/back-to-top.png);
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.mask {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
}

#loader {
    background: url(../img/loader.gif) center center no-repeat;
    height: 50px;
    width: 50px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin: -25px 0 0 -25px;
}

.element_from_top {
    top: -50px;
    padding-right: 0px;
    opacity: 0;
    position: relative;
}

.element_from_bottom {
    bottom: -50px;
    padding-left: 0px;
    opacity: 0;
    position: relative;
}

.element_from_left {
    left: -80px;
    opacity: 0;
    position: relative;
    padding-left: 0;
}

.element_from_right {
    right: -80px;
    padding-left: 0px;
    opacity: 0;
    position: relative;
}

.element_fade_in {
    opacity: 0;
    position: relative;
    padding-left: 0px;
    right: 0px;
}

.bounceIn {
    opacity: 0;
    position: relative;
    padding-left: 0px;
    right: 0px;
}

img.img-responsive {
    max-width: 100%;
    max-height: 100%;
}


